.App {
  text-align: center;
}

.number-selector {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  max-width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the grid container */
}

.number-button {
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.number-button.selected {
  background-color: #61dafb;
  color: white;
}